<h1 id="fingerprint" class="anchor"><a href="#fingerprint"><i class="fas fa-link anchor-icon"></i></a> 
Odtlačok prsta prehliadača - Je konfigurácia vášho prehliadača jedinečná?</h1>
<div class="alert alert-warning" role="alert">
Váš prehliadač zasiela rôzne informácie, ktoré ho robia jedinečným medzi miliónmi ostatných, a tak je ľahko identifikovateľný.</div>

<p>Keď navštívite webovú stránku, prehliadač zasiela rôzne informácie o svojej konfigurácií, napríklad dostupné fonty, typ prehliadača, použité rozšírenia a mnohé ďalšie. Ak je kombinácia týchto informácií dostatočne jedinečná, môže to byť využité na identifikáciu a sledovanie bez použitia cookies a iných nástrojov. EFF vytvorila nástroj <a href="https://coveryourtracks.eff.org/" target="_blank">Cover Your Tracks [English]</a> (predtým <a href="https://www.eff.org/deeplinks/2020/11/introducing-cover-your-tracks">Panopticlick [English]</a>) na otestovanie, nakoľko je váš prehliadač jedinečný.</p>

<p>
<a class="btn btn-warning" target="_blank" href="https://coveryourtracks.eff.org/">
  Otestujte svoj prehliadač
</a>
</p>

<p>Súčasné prehliadače neboli navrhnuté na to, aby zabezpečili ochranu súkromia. Efektívnejšie ako úpenlivá snaha minimalizovať odtlačok prehliadača je používanie <a href="#addons"><i class="fas fa-link"></i> rozšírení pre prehliadač</a>, ktoré vám pomôžu vylepšiť ochranu súkromia. Pomocou nich dosiahnete oveľa lepšie výsledky.</p>

<h3>Súvisiace informácie</h3>

<ul>
  <li><a href="https://coveryourtracks.eff.org/static/browser-uniqueness.pdf">Ako jedinečný je váš prehliadač? Peter Eckersley, EFF [English]</a></li>
  <li><a href="#addons"><i class="fas fa-link"></i> Odporúčané rozšírenia na ochranu súkromia</a></li>
  <li><a href="https://www.browserleaks.com/">BrowserLeaks.com [English]</a> - bezpečnostný testovací nástroj, ktorý odhalí dáta, ktoré prehliadač automaticky odosiela stránkam, ktoré prehliadate</li>
</ul>
