<h1 id="webrtc" class="anchor"><a href="#webrtc"><i class="fas fa-link anchor-icon"></i></a> WebRTC únik IP adresy - Uniká vaša IP adresa spoza VPN?</h1>

<div class="alert alert-danger" role="alert">
  WebRTC je nový komunikačný protokol využívajúci JavaScript, cez ktorý môže unikať vaša skutočná IP adresa, aj keď používate VPN.
</div>

<p>Softvér ako NoScript dokáže úniku IP adresy zabrániť, napriek tomu odporúčame zablokovať WebRTC protokol priamo v prehliadači. <strong>Poznámka:</strong> Zablokovanie WebRTC znefunkční hovory cez internetový prehliadač vo webových aplikáciách ako Discord, Hangouts, Jitsi a mnohých ďalších.</p>

<p>
<a class="btn btn-warning" target="_blank" rel="noopener noreferrer" href="https://ipleak.net">Otestujte svoj prehliadač</a>
</p>

<h3>Ako vypnúť WebRTC v prehliadači Firefox?</h3>

<p>Nastavte "media.peerconnection.enabled" na "false" v "about:config".</p>
<p><strong>Postup:</strong></p>

<ol class="long-string-list">
  <li>Zadajte "about:config" do panela Firefoxu na zadávanie webovej adresy a stlačte enter.</li>
  <li>Klinknite na tlačidlo "Rozumiem riziku a chcem pokračovať".</li>
  <li>Vyhľadajte "media.peerconnection.enabled".</li>
  <li>Dvojkliknite na danú položku, aby sa jej hodnota zmenila na "false".</li>
  <li>Hotovo. Otestujte ešte raz, či cez WebRTC neuniká vaša IP adresa.</li>
</ol>

<p>Ak chcete vypnúť všetky nastavenie týkajúce sa WebRTC, zmeňte tieto hodnoty na:</p>

<ol class="long-string-list">
  <li>media.peerconnection.turn.disable = true</li>
  <li>media.peerconnection.use_document_iceservers = false</li>
  <li>media.peerconnection.video.enabled = false</li>
  <li>media.peerconnection.identity.timeout = 1</li>
</ol>

<p>Teraz je WebRTC vypnuté.</p>

<p>
<a class="btn btn-primary" target="_blank" rel="noopener noreferrer" href="https://ipleak.net">Znova otestujte svoj prehliadač</a>
</p>

<h3>Ako vypnúť WebRTC v prehliadači Safari?</h3>

<p>Safari je oveľa striknejšií pri používaní WebRTC ako ostatné najpoužívanejšie webové prehliadače a WebRTC by tu nemal spôsobovať únik IP adresy. Podľa nižšie uvedených krokov si môžete overiť, či máte Safari správne nastavené:</p>

<ol class="long-string-list">
  <li>V Safari menu vyberte "Preferences".</li>
  <li>Vyberte "Advanced tab" a označte políčko "Show Develop menu in menu bar".</li>
  <li>Zatvorte "Preferences" a otvorte "Develop menu" zo Safari menu panela.</li>
  <li>V rozbalovacom menu otvorte "WebRTC" podmenu a uistite sa, že políčko "Enable Legacy WebRTC API" nie je začiarknuté. Ak je vyznačené na šedo, ešte lepšie.</li>
</ol>

<h3>Ako vypnúť WebRTC v prehliadači Google Chrome?</h3>

<p>WebRTC sa nedá v prehliadači Chrome úplne vypnúť. Môžete však zmeniť jeho smerovacie nastavenia, a tým zabrániť únikom IP adresy pomocou rozšírení. Medzi open-source riešenia patrí <a href="https://chrome.google.com/webstore/detail/webrtc-leak-prevent/eiadekoaikejlgdbkbdfeijglgfdalml">WebRTC Leak Prevent</a> (v niektorých prípadoch je nutné zmeniť základné nastavenia tohto rozšírenia) a <a href="https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm">uBlock Origin</a> (v nastaveniach vyberte "Prevent WebRTC from leaking local IP addresses").</p>
