<h1 id="addons" class="anchor"><a href="#addons"><i class="fas fa-link anchor-icon"></i></a> Odporúčané rozšírenia pre webové prehliadače</h1>

<div class="alert alert-secondary" role="alert">
	Nie všetky uvedené rozšírenia sú potrebné a niektoré poskytujú duplicitnú funkcionalitu. Vyberte si tie, ktoré potrebujete. Viac nájdete aj v privacytools.io <a class="alert-link" href="https://blog.privacytools.io/firefox-privacy-an-introduction-to-safe/">návode na ochranu súkromia v prehliadači Firefox [English]</a>.
</div>

{% include cardv2.html
  title="uBlock Origin: Zablokovanie reklám a sledovacieho obsahu"
  image="/assets/img/svg/3rd-party/ublock_origin.svg"
  description="<p><strong>uBlock Origin</strong> je efektívny <a href=https://github.com/gorhill/uBlock/wiki/Blocking-mode>wide-spectrum blocker [English]</a>, ktorý nezaťažuje  operačnú pamäť, no aj tak dokáže načítať a aplikovať o tisíce viac filtrov ako iné populárne blokovače. Nemá žiadnu monetizačnú stratégiu a je plne open source. <a href=https://github.com/gorhill/uBlock/wiki/Advanced-user-features>Pokročilý mód [English]</a> umožňuje <a href=https://github.com/gorhill/uBlock/wiki/Dynamic-filtering:-quick-guide>dynamické filtrovanie [English]</a>, ktoré sprostredkováva rozšírenie blokovania podobné ako NoScript alebo uMatrix (napríklad <a href=https://github.com/gorhill/uBlock/wiki/Blocking-mode:-medium-mode>stredné [English]</a> alebo <a href=https://github.com/gorhill/uBlock/wiki/Blocking-mode:-hard-mode>tvrdé [English]</a>) blokovanie.</p>"
  website="https://addons.mozilla.org/firefox/addon/ublock-origin/"
  privacy-policy="https://github.com/gorhill/uBlock/wiki/Privacy-policy"
  forum="https://forum.privacytools.io/t/discussion-ublock-origin/266"
  github="https://github.com/gorhill/uBlock/"
  firefox="https://addons.mozilla.org/firefox/addon/ublock-origin/"
  chrome="https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm"
  opera="https://addons.opera.com/en/extensions/details/ublock/"
  edge="https://www.microsoft.com/en-us/p/ublock-origin/9nblggh444l4"
%}

{% include cardv2.html
  title="HTTPS Everywhere: Bezpečné pripojenie"
  image="/assets/img/svg/3rd-party/https_everywhere.svg"
  description="<strong>HTTPS Everywhere</strong> zabezpečí šifrovanie vášho internetového pripojenia k mnohým webstránkam, prepnutím pripojenia na https protokol. Rozšírenie vzniklo ako spoločný projekt organizácií Tor Project a Electronic Frontier Foundation."
  website="https://www.eff.org/https-everywhere"
  privacy-policy="https://www.eff.org/code/privacy/policy"
  forum="https://forum.privacytools.io/t/discussion-https-everywhere/268"
  github="https://github.com/EFForg/https-everywhere"
  firefox="https://addons.mozilla.org/firefox/addon/https-everywhere"
  chrome="https://chrome.google.com/webstore/detail/https-everywhere/gcbommkclmclpchllfjekcdonpmejbdp"
  opera="https://addons.opera.com/en/extensions/details/https-everywhere"
%}

{% include cardv2.html
  title="Decentraleyes: Blokovanie sietí na doručovanie obsahu"
  image="/assets/img/svg/3rd-party/decentraleyes.svg"
  description="<strong>Decentraleyes</strong> lokálne emuluje siete na doručovanie obsahu (Content Delivery Networks) tým, že automaticky blokuje požiadavky na tieto siete, sama nájde požadované zdroje a vloží ich do prostredia stránky. To všetko sa deje okamžite, automaticky a bez akejkoľvek potreby čokoľvek dopredu nastavovať."
  website="https://decentraleyes.org/"
  privacy-policy="https://decentraleyes.org/privacy-policy/"
  forum="https://forum.privacytools.io/t/discussion-decentraleyes/269"
  gitlab="https://git.synz.io/Synzvato/decentraleyes"
  firefox="https://addons.mozilla.org/firefox/addon/decentraleyes"
  chrome="https://chrome.google.com/webstore/detail/decentraleyes/ldpochfccmkkmhdbclfhpagapcfdljkj"
  opera="https://addons.opera.com/extensions/details/decentraleyes"
%}

{% include cardv2.html
  title="ClearURLs"
  image="/assets/img/svg/3rd-party/clearurls.svg"
  description="<strong>ClearURLs</strong> automaticky odstráni sledovacie prvky z URLs a pomáha tak ochraňovať vaše súkromie pri surfovaní na internete."
  website="https://gitlab.com/KevinRoebert/ClearUrls"
  privacy-policy="https://gitlab.com/KevinRoebert/ClearUrls/-/blob/master/PRIVACY.md"
  forum="https://forum.privacytools.io/t/discussion-clearurls/3353"
  gitlab="https://gitlab.com/KevinRoebert/ClearUrls"
  firefox="https://addons.mozilla.org/firefox/addon/clearurls/"
  chrome="https://chrome.google.com/webstore/detail/clearurls/lckanjgmijmafbedllaakclkaicjfmnk"
  edge="https://microsoftedge.microsoft.com/addons/detail/mdkdmaickkfdekbjdoojfalpbkgaddei"
%}

{% include cardv2.html
  title="xBrowserSync"
  image="/assets/img/svg/3rd-party/xbrowsersync.svg"
  description='<strong>xBrowserSync</strong> synchronizuje záložky naprieč zariadeniami a webovými prehliadačmi pomocou šifrovania na oboch koncoch. Dáta sú šifrované a dešifrované výlučne na vašich zariadeniach, nikto okrem vás si ich nevie prečítať. Rozšírenie funguje úplne bez registrácie. Zadáte iba náhodne vygenerované ID alebo QR kóde. Služba je dostupná cez <a href="https://www.xbrowsersync.org/#status">rôzne servery [English]</a>, prípadne si ju môžete nainštalovať na <a href="https://github.com/xbrowsersync/api-docker">vlastný server [English]</a>.'
  website="https://www.xbrowsersync.org/"
  privacy-policy="https://www.xbrowsersync.org/privacypolicy"
  github="https://github.com/xbrowsersync"
  firefox="https://addons.mozilla.org/firefox/addon/xbs/"
  chrome="https://chrome.google.com/webstore/detail/xbrowsersync/lcbjdhceifofjlpecfpeimnnphbcjgnc"
  googleplay="https://play.google.com/store/apps/details?id=com.xBrowserSync.android"
%}

<h3>Pozrite si tiež</h3>

<ul>
	<li><a href="https://floccus.org/">floccus</a> - Synchronizuje záložky naprieč prehliadačmi prostredníctvom manuálne prenesených lokálnych súborov, Nextcloud, WebDAV alebo akéhokoľvek iného riešenia na synchronizáciu súborov. Rozšírenie je dostupné pre <a href="https://addons.mozilla.org/firefox/addon/floccus/">Firefox</a>, <a href="https://chrome.google.com/webstore/detail/floccus-bookmarks-sync/fnaicdffflnofjppbagibeoednhnbjhg">Chrome</a>, <a href="https://microsoftedge.microsoft.com/addons/detail/gjkddcofhiifldbllobcamllmanombji">Edge</a>.</li>
</ul>

<h2>Dodatočná funkcie</h2>

<div class="alert alert-secondary" role="alert">
  Tieto rožšírenia nevyhnutne nevylepšujú ochranu vášho súkromia na internete, ale poskytujú dodatočné funkcie, ktoré môžu byť užitočné.
</div>

{% include cardv2.html
  title="Terms of Service; Didn’t Read"
  image="/assets/img/svg/3rd-party/terms_of_service_didnt_read.svg"
  description='<strong>Terms of Service; Didn’t Read</strong> je rozšírenie, ktoré poskytuje sumarizáciu podmienok ochrany súkromia a zmluvných podmienok, ktorých prečítanie musíte potvrdiť pri registrácií na akúkoľvek stránku. No v skutočnosti ich aj tak takmer nikto nečíta. Podmienky jednotlivých stránok známkuje a taktiež poskytuje krátku sumarizáciu ich obsahu. Analýzy a hodnotenia sú transparentne publikované komunitou recenzentov.'
  website="https://tosdr.org/"
  privacy-policy="https://addons.mozilla.org/firefox/addon/terms-of-service-didnt-read/privacy/"
  forum="https://forum.privacytools.io/t/discussion-terms-of-service-didn-t-read/270"
  github="https://github.com/tosdr/"
  firefox="https://addons.mozilla.org/firefox/addon/terms-of-service-didnt-read/"
  chrome="https://chrome.google.com/webstore/detail/terms-of-service-didn%E2%80%99t-r/hjdoplcnndgiblooccencgcggcoihigg"
  opera="https://addons.opera.com/extensions/details/terms-of-service-didnt-read"
%}

{% include cardv2.html
  title="Snowflake"
  image="/assets/img/svg/3rd-party/snowflake.svg"
  description="<strong>Snowflake</strong> je nový <a href=https://2019.www.torproject.org/docs/pluggable-transports.html.en>pluggable transport [English]</a> od organizácie Tor Project. Ak máte necenzúrované pripojenie na internet, spustením tohoto rozšírenia dobrovoľne umožníte, aby vaše pripojenie bolo využité ako Snowflake proxy, ktoré pomôže používateľom, pre ktorých nie je možné sa priamo pripojiť do siete Tor. Vaša IP adresa <strong>ne</strong>bude viditeľná pre stránky, ktoré používatelia cez vaše proxy navštívia, pretože rozšírenie vás nikdy nedá do úlohy výstupného bodu. Ak je váš prístup na sieť Tor zablokovaný, toto rozšírenie vám nepomôže a mali by ste používať <a href=https://www.torproject.org>Tor Browser</a>. <strong>Poznámka:</strong> Toto rozšírenie nefunguje, ak máte vypnuté WebRTC."
  website="https://snowflake.torproject.org"
  forum="https://forum.privacytools.io/t/discussion-snowflake/1146"
  git="https://gitweb.torproject.org/pluggable-transports/snowflake.git"
  firefox="https://addons.mozilla.org/firefox/addon/torproject-snowflake"
  chrome="https://chrome.google.com/webstore/detail/snowflake/mafpmfcccpbjnhfhjnllmmalhifmlcie"
%}

<h2>Persistent storage management</h2>

<h3>Desktop</h3>

<div class="alert alert-warning" role="alert">
  Tieto rozšírenia odporúčame pre riadenie dát v persistent storage, ktoré rôzne webstránky a web aplikácie môžu vytvárať a ukladať na váš počítač.
</div>

{% include cardv2.html
  title="Temporary Containers"
  image="/assets/img/svg/3rd-party/temporary_containers.svg"
  image-dark="/assets/img/svg/3rd-party/temporary_containers-dark.svg"
  description="<strong>Temporary Containers</strong> umožňujú otvárať karty, webstránky a linky v automaticky riadených jednorázových kontajneroch. Kontajnery izolujú dáta, ktoré webstránka ukladá na váš počítač (súbory cookies a mnohé ďalšie) od dát iných webstránok, a tým vylepšujú bezpečnosť a ochranu súkromia vášho prehliadača: <a href=https://medium.com/@stoically/enhance-your-privacy-in-firefox-with-temporary-containers-33925cd6cd21>Vylepšite ochranu súkromia vo Firefoxe pomocou Temporary Containers [English]</a>."
  website="https://addons.mozilla.org/firefox/addon/temporary-containers/"
  privacy-policy="https://addons.mozilla.org/firefox/addon/temporary-containers/privacy/"
  forum="https://forum.privacytools.io/t/discussion-temporary-containers-multi-account-containers/3354"
  github="https://github.com/stoically/temporary-containers"
  firefox="https://addons.mozilla.org/firefox/addon/temporary-containers/"
%}

{% include cardv2.html
  title="Firefox Multi-Account Containers"
  image="/assets/img/svg/3rd-party/firefox_multi_account_containers.svg"
  description="<strong>Firefox Multi-Account Containers</strong> umožňujú vytvárať kontajnery pre izoláciu špecifických webstránok. Kontajnery sú izolované jeden od druhého ako aj od zvyšku stránok. Toto rozšírenie môžete používať namiesto Temporary Containers pre webstránky, kde sa plánujete pravidelne prihlasovať pod tým istým účtom."
  website="https://support.mozilla.org/kb/containers"
  forum="https://forum.privacytools.io/t/discussion-temporary-containers-multi-account-containers/3354"
  github="https://github.com/mozilla/multi-account-containers"
  firefox="https://addons.mozilla.org/firefox/addon/multi-account-containers/"
%}

<h3>Android</h3>

<div class="alert alert-warning" role="alert">
	Firefox pre Android nanešťastie <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1398097">neumožňuje správu kariet do kontajnerov [English]</a>. Nižšie uvedené rozšírenie slúžia ako náhrada. Pre Android však neexistujú APIs pre čistenie <a href="https://cs.wikipedia.org/wiki/Progresivn%C3%AD_webov%C3%A9_aplikace#IndexedDB,_IDB">IndexedDB</a>, <a href="https://cs.wikipedia.org/wiki/Progresivn%C3%AD_webov%C3%A9_aplikace#Service_Workers">Service Workers</a> cache, <a href="https://cs.wikipedia.org/wiki/Progresivn%C3%AD_webov%C3%A9_aplikace#AppCache_(zastaral%C3%A9)">appCache</a> alebo cache by host. Z tohoto dôvodu tieto rozšírenia nie sú také dobré ako Temporary Container pre Desktop.
</div>

{% include cardv2.html
  title="ETag Stoppa"
  image="/assets/img/svg/3rd-party/etag_stoppa.svg"
  description="<strong>ETag Stoppa</strong> zabraňuje Firefoxu ukladať entity tags tým, že vymaže ETag response headers vo všetkých prípadoch bez výnimky."
  website="https://addons.mozilla.org/firefox/addon/etag-stoppa/"
  forum=""
  github="https://github.com/claustromaniac/etag-stoppa"
  firefox="https://addons.mozilla.org/firefox/addon/etag-stoppa/"
%}

{% include cardv2.html
  title="Cookie AutoDelete: automatické vymazávanie cookies"
  image="/assets/img/png/3rd-party/cookie_autodelete.png"
  description="<strong>Cookie AutoDelete</strong> automaticky odstráni súbory cookies, pretrvávajúce relácie a iné informácie, ktoré môžu byť využité na špehovanie, aj keď ich už ďalej nevyužívajú otvorené karty prehliadača."
  website="https://addons.mozilla.org/firefox/addon/cookie-autodelete/"
  forum="https://forum.privacytools.io/t/discussion-cookie-autodelete/267"
  github="https://github.com/Cookie-AutoDelete/Cookie-AutoDelete"
  firefox="https://addons.mozilla.org/firefox/addon/cookie-autodelete"
  chrome="https://chrome.google.com/webstore/detail/cookie-autodelete/fhcgjolkccmbidfldomjliifgaodjagh"
%}

<h2>Pre pokročilých používateľov</h2>

<div class="alert alert-warning" role="alert">
  Tieto rozšírenia vyžadujú aktívny prístup používateľa a niektoré úplne nahrádzajú rozšírenia, ktoré sme už odporúčali vyššie. Niektoré stránky nemusia fungovať, ak tieto rozšírenia nie sú nastavené správne.
</div>

{% include cardv2.html
  title="uMatrix: Stop Cross-Site Requests"
  image="/assets/img/png/3rd-party/umatrix.png"
  description="<strong>uMatrix</strong> umožní kontrolu požiadaviek, ktoré webstránky kladú na iné webstránky. Veľa webstránok má integrované funkcie, ktoré umožnia iným webstránkam sledovať vás, ako napríklad Facebook Like Buttons alebo Google Analytics. uMatrix v základnom nastavení povoľuje scripty, ktoré sú uložené priamo na webstránke, ktorú navštívite. Ak chcete, aby uMatrix poskytoval podobnú funkcionalitu ako NoScript, mali by ste zapnúť <a href=https://github.com/gorhill/uMatrix/wiki/How-to-block-1st-party-scripts-everywhere-by-default>blokovanie všetkých 1st party scriptov [English]</a>. <strong>Toto rozšírenie už nie je v <a href=https://github.com/uBlockOrigin/uMatrix-issues/issues/291#issuecomment-694988696>aktívnom vývoji [English]</a>.</strong>"
  website="https://addons.mozilla.org/firefox/addon/umatrix/"
  privacy-policy="https://github.com/gorhill/uMatrix/wiki/Privacy-policy"
  forum="https://forum.privacytools.io/t/discussion-umatrix/271"
  github="https://github.com/gorhill/uMatrix"
  firefox="https://addons.mozilla.org/firefox/addon/umatrix"
  chrome="https://chrome.google.com/webstore/detail/umatrix/ogfcmafjalglgifnmanfmnieipoejdcf"
  opera="https://addons.opera.com/extensions/details/umatrix"
%}

{% include cardv2.html
  title="CanvasBlocker"
  image="/assets/img/svg/3rd-party/canvasblocker.svg"
  description="<strong>CanvasBlocker</strong> zabraňuje webstránkam použiť Javascript APIs na analyzovanie odtlačku prehliadača. Je možné nastaviť úplné blokovanie JavaScript APIs na vybraných alebo úplne všetkých webstránkach (čo môže znefunkčniť niektoré webstránky), alebo iba zablokovať, prípadne poskytnúť falošnú readout API, ktorá zašle čo najmenej údajov použiteľných na analýzu odtlačku prehliadača."
  website="https://github.com/kkapsner/CanvasBlocker/"
  privacy-policy="https://addons.mozilla.org/firefox/addon/canvasblocker/privacy/"
  forum="https://forum.privacytools.io/t/discussion-canvasblocker/3352"
  github="https://github.com/kkapsner/CanvasBlocker/"
  firefox="https://addons.mozilla.org/firefox/addon/canvasblocker/"
%}
